CMakeLists.txt
.idea
cmake-build-debug
test-1
test-2
test-3
test-4
test-5
test-6
test-7
test-7.csv
test-8
*.o
informe/*.aux
informe/*.log
informe/*.out
informe/*.synctex.gz
informe/_minted-main
/out/
